# Задание 5 (Контрольные вопросы)
## Тема: Анализ временных рядов

### Настройка окружения

In [78]:
import pandas as pd
import numpy as np
from datetime import datetime

### 1. Представление дат, времени и интервалов

In [79]:
datetime(2025, 3, 23, 15, 30, 0)

datetime.datetime(2025, 3, 23, 15, 30)

### 2. Создание временной метки с помощью объекта Timestamp

In [80]:
timestamp = pd.Timestamp("2025-01-15 12:45:00")
timestamp

Timestamp('2025-01-15 12:45:00')

### 3. Использование объекта Timedelta для представления временного интервала

In [81]:
timestamp + pd.Timedelta(days=7, hours=5)

Timestamp('2025-01-22 17:45:00')

### 4. Индексация с помощью DatetimeIndex

In [82]:
dates = pd.date_range("2025-01-01", periods=10, freq="D")
df = pd.DataFrame({"value": np.arange(10)}, index=dates)

df.head()

            value
2025-01-01      0
2025-01-02      1
2025-01-03      2
2025-01-04      3
2025-01-05      4

### 5. Создание временного ряда с определенной частотой

In [83]:
pd.date_range("2025-01-01", periods=24, freq="h")

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 01:00:00',
               '2025-01-01 02:00:00', '2025-01-01 03:00:00',
               '2025-01-01 04:00:00', '2025-01-01 05:00:00',
               '2025-01-01 06:00:00', '2025-01-01 07:00:00',
               '2025-01-01 08:00:00', '2025-01-01 09:00:00',
               '2025-01-01 10:00:00', '2025-01-01 11:00:00',
               '2025-01-01 12:00:00', '2025-01-01 13:00:00',
               '2025-01-01 14:00:00', '2025-01-01 15:00:00',
               '2025-01-01 16:00:00', '2025-01-01 17:00:00',
               '2025-01-01 18:00:00', '2025-01-01 19:00:00',
               '2025-01-01 20:00:00', '2025-01-01 21:00:00',
               '2025-01-01 22:00:00', '2025-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='h')

### 6. Вычисление новых дат с помощью смещений

In [84]:
df.shift(5, freq="YE").head()

            value
2029-12-31      0
2029-12-31      1
2029-12-31      2
2029-12-31      3
2029-12-31      4

### 7. Привязка периодов к конкретным дням недели, месяца, квартала или года

In [85]:
pd.date_range("2020-08-01", periods=10, freq="W-WED")

DatetimeIndex(['2020-08-05', '2020-08-12', '2020-08-19', '2020-08-26',
               '2020-09-02', '2020-09-09', '2020-09-16', '2020-09-23',
               '2020-09-30', '2020-10-07'],
              dtype='datetime64[ns]', freq='W-WED')

### 8. Представление промежутков времени с помощью объектов Period

In [86]:
period = pd.Period("2025-03", freq="M")
print(period.start_time, period.end_time)

2025-03-01 00:00:00 2025-03-31 23:59:59.999999999

### 9. Индексация с помощью PeriodIndex

In [87]:
pd.period_range("2025-01", "2025-12", freq="M")

PeriodIndex(['2025-01', '2025-02', '2025-03', '2025-04', '2025-05', '2025-06',
             '2025-07', '2025-08', '2025-09', '2025-10', '2025-11', '2025-12'],
            dtype='period[M]')

### 10. Обработка праздников с помощью календарей

In [88]:
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()
cal.holidays(start="2025-01-01", end="2025-12-31")

DatetimeIndex(['2025-01-01', '2025-01-20', '2025-02-17', '2025-05-26',
               '2025-06-19', '2025-07-04', '2025-09-01', '2025-10-13',
               '2025-11-11', '2025-11-27', '2025-12-25'],
              dtype='datetime64[ns]', freq=None)

### 11. Нормализация временных меток с помощью часовых поясов

In [89]:
df.tz_localize("UTC").tz_convert("Europe/Moscow").head()

                           value
2025-01-01 03:00:00+03:00      0
2025-01-02 03:00:00+03:00      1
2025-01-03 03:00:00+03:00      2
2025-01-04 03:00:00+03:00      3
2025-01-05 03:00:00+03:00      4

### 12. Опережение и запаздывание временного ряда

In [90]:
df["value"].shift(1).head()

2025-01-01    NaN
2025-01-02    0.0
2025-01-03    1.0
2025-01-04    2.0
2025-01-05    3.0
Freq: D, Name: value, dtype: float64

### 13. Преобразование частоты временного ряда

In [91]:
df.asfreq("B")

            value
2025-01-01      0
2025-01-02      1
2025-01-03      2
2025-01-06      5
2025-01-07      6
2025-01-08      7
2025-01-09      8
2025-01-10      9

### 14. Увеличение или уменьшение шага дискретизации временного ряда

In [92]:
df.resample("W").sum()

            value
2025-01-05     10
2025-01-12     35

### 15. Применение к временному ряду операций на основе скользящего окна

In [93]:
df["value"].rolling(window=3, center=True).mean()

2025-01-01    NaN
2025-01-02    1.0
2025-01-03    2.0
2025-01-04    3.0
2025-01-05    4.0
2025-01-06    5.0
2025-01-07    6.0
2025-01-08    7.0
2025-01-09    8.0
2025-01-10    NaN
Freq: D, Name: value, dtype: float64

#### Экспорт в html

In [94]:
from os import system

system("jupyter nbconvert --to html task_5.ipynb")

[NbConvertApp] Converting notebook task_5.ipynb to html
[NbConvertApp] Writing 314840 bytes to task_5.html

0