# Практическая работа 4 (Тест)
## Тема: Агрегирование данных

### Настройка окружения

In [220]:
import pandas as pd

### Вопрос 1
В файле [torg.csv](./torg.csv) представлена выгрузка со склада интернет-магазина.

In [221]:
products = pd.read_csv("torg.csv", sep=";")
products.head()

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06

1. Определите суммарное количество единиц товара (**CP_QUANTITY**) каждого размера на складе. Отсортируйте размеры по увеличению остатков на складе. Если товаров одного размера одинаковое количество, то размеры сортируются "лексикографически". Укажите размер, который оказался вторым после сортировки.

In [222]:
sum_by_size = products.groupby("IP_PROP32", as_index=False)["CP_QUANTITY"].sum()

sum_by_size.sort_values(["CP_QUANTITY", "IP_PROP32"], inplace=True)

sum_by_size.iloc[1]["IP_PROP32"]

'S'

2. Добавьте столбец с общей стоимостью *(**TOTAL**) = цена за 1 единицу товара (**CR_PRICE_1_USD**) * кол-во (**CP_QUANTITY**)*. Выполните группировку по цвету (**IP_PROP30**) и размеру (**IP_PROP32**) и найдите суммарную стоимость товаров. Укажите общую стоимость черных вещей размера L.

In [223]:
products["TOTAL"] = products["CP_QUANTITY"] * products["CR_PRICE_1_USD"]

total_by_color_and_size = products.groupby(["IP_PROP30", "IP_PROP32"])["TOTAL"].sum()

total_by_color_and_size["black", "L"]

np.float64(24993.0)

3. Посчитайте кол-во товаров каждого цвета на складе и заполните пропуски.

In [224]:
products.groupby("IP_PROP30")["CP_QUANTITY"].sum()

IP_PROP30
azure         500
black        5000
blue         1800
brown        3500
flowers       500
green        1499
jeans         500
orangered     498
pink         2000
purple       2199
red          2497
redblue       499
see          1000
white        4999
Name: CP_QUANTITY, dtype: int64

### Вопрос 2

В представленном файле [data_menu.csv](./data_menu.csv) вы можете найти информацию о различных заказах, сделанных в кафе за месяц.

Описание переменных:

- **order_id** - Номер заказа
- **quantity** - Количество товара/блюда, которое было заказано
- **item_name** - Наименование блюда/товара
- **choice_description** - Описание блюда. У одинаковых **item_name** могут быть разные описания (так, сок может быть яблочным или апельсиновым, и это отличие будет указано в данном пункте, оба товара будут иметь одинаковый **item_name**)
- **item_price** - Стоимость указанной позиции

In [225]:
orders = pd.read_csv("data_menu.csv")
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98

Вас попросили сделать небольшую аналитику по имеющимся продажам. Заполните пропуски в предложенном ниже тексте, чтобы справиться с поставленным перед вами заданием. Если ваш ответ представлен дробным числом, запишите его через запятую с округлением до 2 знаков после запятой (например, если вы получили 1/3, то в ответе необходимо указать 0,33).

Всего за указанный период количество заказов составило ... .

In [226]:
grouped_by_id = orders.groupby("order_id")

grouped_by_id.ngroups

1223

В среднем в каждом заказе ... позиции на общую сумму ... .

In [227]:
mean_positions = round(grouped_by_id.size().mean(), 2)

orders["total"] = orders["quantity"] * orders["item_price"]
grouped_by_id = orders.groupby("order_id")

mean_total_by_order = round(grouped_by_id["total"].sum().mean(), 2)

print(mean_positions, mean_total_by_order)

2.51 21.75

Всего за указанный период было заказано ... уникальных позиций из нашего меню.

In [228]:
orders.groupby(["item_name", "choice_description"]).ngroups

1353

Из всех видов позиций (**item_name**) наибольшую выручку в нашем кафе принесла ... .

In [229]:
orders.groupby("item_name")["total"].sum().idxmax()

'Chicken Bowl'

### Вопрос 3
Набор данных [music.csv](./music.csv) содержит данные сервиса "Яндекс Музыка" о прослушивании песен в Москве и Санкт-Петербурге за некоторый период времени.

*Описание переменных:*

- **userID** — идентификатор пользователя;
- **Track** — название трека;
- **artist** — имя исполнителя;
- **genre** — название жанра;
- **City** — город, в котором происходило прослушивание;
- **time** — время, в которое пользователь слушал трек;
- **Day** — день недели.

In [230]:
music = pd.read_csv("music.csv")

music.head()

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday

1. Укажите кол-во наблюдений в датафрейме.

In [231]:
music.shape[0]

65079

2. Укажите кол-во переменных, содержащих пропуски.

In [232]:
music.columns[music.isnull().any()].shape[0]

3

3. Укажите кол-во дубликатов.

In [233]:
music.duplicated().sum()

np.int64(3826)

4. Выполните предобработку данных:

- уберите пробелы в названии столбцов;

In [234]:
music.columns = music.columns.str.strip()

- пропущенные значения в столбцах с названием трека и исполнителя замените на строку 'unknown', в остальных столбцах пустые значения удалите;

In [235]:
music.fillna({"Track": "unknown", "artist": "unknown"}, inplace=True)

music.dropna(inplace=True)

- удалите дубликаты;

In [236]:
music.drop_duplicates(inplace=True)

- удалите "неявные" дубликаты: жанр "hip" замените на "hiphop";

In [237]:
music.genre = music.genre.replace("hip", "hiphop")

- в качестве индекса используйте идентификатор пользователя.

In [238]:
music.set_index("userID", inplace=True)

- Укажите кол-во наблюдений в датафрейме, оставшихся после этапа предобработки данных.

In [239]:
music.shape[0]

60126

5. Укажите кол-во прослушиваний в пятницу.

In [240]:
music[music.Day == "Friday"].shape[0]

21482

6. На какой день приходится пик прослушиваний в Санкт-Петербурге? В ответе укажите кол-во прослушиваний в этот день.

In [241]:
grouped_by_day = music[music.City == "Saint-Petersburg"].groupby("Day")

grouped_by_day.size().max()

np.int64(6913)

7. Составьте утренний (с 7:00 до 10:00) топ-10 жанров музыки для понедельника в Санкт-Петербурге. Укажите название и кол-во прослушиваний для 4-го по популярности жанра.

In [242]:
music.time = pd.to_datetime(music.time)

spb_friday_morning = music[
    (
        (music.City == "Saint-Petersburg")
        & (music.Day == "Monday")
        & (music.time.between("7:00", "10:00"))
    )
]

genre_top_10 = spb_friday_morning.genre.value_counts().head(10)

print(genre_top_10.index[3], genre_top_10.iloc[3])

/var/folders/4m/26y4cnv170d99ydf6647y13w0000gn/T/ipykernel_5997/614621548.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  music.time = pd.to_datetime(music.time)

electronic 144

8. Укажите название жанра, который является вторым по популярности и в Москве, и в Санкт-Петербурге.

In [243]:
music.genre.value_counts().index[1]

'dance'

9. Укажите общее кол-во прослушиваний трека 'Fire'.

In [244]:
music[music.Track == "Fire"].shape[0]

20

### Вопрос 4
Набор данных [StudentsPerformance.csv](./StudentsPerformance.csv) содержит фрагмент выгрузки об абитуриентах. Информация разбита на категории:

- **gender** — пол абитуриента  (female - женщина, male - мужчина);
- **race/ethnicity** — национальность (зашифрована в виде значений "group A", "group B" и т.д.);
- **parental level of education** — уровень образования родителей;
- **lunch** — насколько качественно пообедал абитуриент перед тестом;
- **test preparation course** — закончил ли абитуриент подготовительные курсы;
- **math score** — оценка по математике;
- **reading score** — оценка по чтению;
- **writing score** — оценка по письму.

In [245]:
students = pd.read_csv("StudentsPerformance.csv")
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

1. Определите национальный состав абитуриентов в процентом соотношении. Укажите долю абитуриентов 3-й по величине национальности.

In [246]:
race_ratio = students["race/ethnicity"].value_counts(normalize=True) * 100

race_ratio.iloc[2]

np.float64(19.0)

2. Определите средний (округленный до 2 знаков), минимальный, максимальный балл по математике и кол-во сдававших отдельно для мальчиков и девочек.

In [247]:
grouped_by_gender = students.groupby("gender")

grouped_by_gender["math score"].agg(["mean", "min", "max", "size"]).round(2)

         mean  min  max  size
gender
female  63.63    0  100   518
male    68.73   27  100   482

3. Определите суммарный балл по 3 предметам для каждого студента. Выясните, есть ли зависимость уровня образования родителей от результатов вступительных испытаний? Для ответа на вопрос посчитайте средний балл абитуриентов (округленный до 2 знаков) в зависимости от уровня образования родителей:

In [248]:
students["total score"] = (
    students["math score"] + students["reading score"] + students["writing score"]
)

students.groupby("parental level of education")["total score"].mean().round(
    2
).sort_values(ascending=False)

parental level of education
master's degree       220.80
bachelor's degree     215.77
associate's degree    208.71
some college          205.43
some high school      195.32
high school           189.29
Name: total score, dtype: float64

*Вывод*: чем выше образование родителей, тем выше средний балл студентов за вступительные испытания

4. Определите, на сколько выше средний балл абитуриентов, закончивших подготовительные курсы. В ответе запишите округленное целое число.

In [249]:
completed_preparation_course = students["test preparation course"] == "completed"

round(
    students[completed_preparation_course]["total score"].mean()
    - students[~completed_preparation_course]["total score"].mean(),
)

23

5. Предположим, что университет имеет 459 бюджетных мест. Определите проходной балл и укажите отдельно кол-во рекомендованных к зачислению мальчиков и девочек.

In [250]:
passed_students = students.nlargest(459, "total score")

passing_score = passed_students.iloc[-1]["total score"]
print(f"Проходной балл: {passing_score}")

grouped_by_gender = passed_students.groupby("gender")
grouped_by_gender.size()

Проходной балл: 210

gender
female    268
male      191
dtype: int64